<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wd.zykt.mapper.MaterialMapper">

    <!--查找对应书籍资料-->
    <select id="selMaterialByBookId" resultType="Material">
        select Ma.* from zykt_material as Ma where Ma.book_id = #{id} and Ma.types =#{types} ORDER BY insert_time ASC
    </select>

    <!--插入相关资料信息-->
    <insert id="insMaterial" parameterType="Material">
        insert into zykt_material values (#{id},#{name},#{fileUrl},#{types},default,#{userId},#{bookId});
    </insert>
</mapper>